.border-width-0 {
    border-width: 0.5rem;
}
.border-width-1 {
    border-width: 0.75rem !important;
}
.border-width-1 {
    border-width: 0.45rem !important;
}
.border-width-2 {
    border-width: 1rem;
}
.border-bottom-none {
    border-bottom: none !important;
}
.box-shadow-1 {
    box-shadow: 0px 0px 0.25rem 0.2rem #222;
}
.text-right {
    text-align: right;
}
